<section class="about-us section">
  <h2 class="about-header">About <span class="about-span">Us</span></h2>
  <div class="about-desk">
    <picture class="about-photo">
      <!--Desktop-->
      <source
        media="(min-width: 1280px)"
        srcset="./img/photo_des@1x.png 1x, ./img/photo_des@2x.png 2x"
      />
      <!--Tablet-->
      <source
        media="(min-width: 768px)"
        srcset="./img/photo_tab@1x.png 1x, ./img/photo_tab@2x.png 2x"
      />
      <!--Mobile-->
      <img
        srcset="./img/photo_mob@1x.png 1x, ./img/photo_mob@2x.png 2x"
        src="./img/photo_mob@1x.png"
        alt="photocamera"
        class="about-photo"
      />
    </picture>
    <div class="about-p">
      <p class="about-text">
        Our photography school is designed to teach you everything you need to
        know about this magical art. Regardless of your experience or skill
        level, we offer a wide range of courses to suit your needs and
        interests. Our teaching team consists of experienced photographers who
        have many years of experience in this field. They strive not only to
        share their knowledge, but also to inspire you to develop and express
        your unique creativity.
      </p>
      <p class="about-text">
        Our courses cover a wide range of topics, from the basics of photography
        and equipment use to professional image processing and creating
        impressive compositions. You will have the opportunity to learn the
        technical aspects of photography, discover your own style and develop
        your own visual language.
      </p>
    </div>
  </div>
</section>
