<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

    <!-- Footer -->
    
    <footer class="footer-class">
     <div class="container footer-container">
     <svg class="logo-svg" width="127" height="20">
      <use href="../img/icons.svg#icon-logo"></use>
     </svg>
    <!---Adresses-->
    <address class="footer-address">
      <ul class="adress-menu">
        <li>
          <a class="contacts-footer" href="">UA: +38 066 543 8912</a>
        </li>
        <li>
          <a class="contacts-footer" href="">Ukraine, Kyiv</a>
        </li>
      </ul>
    </address>
    <!---Social links-->
    <div class="footer-socials-div">
      <ul class="socials-menu">
        <li class="socials-item">
          <a class="footer-links" href="">Instagram</a>
        </li>
        <li class="socials-item">
          <a class="footer-links" href="">Facebook</a>
        </li>
        <li class="socials-item">
          <a class="footer-links" href="">Youtube</a>
        </li>
      </ul>
   
    <!---Project links-->
    
      <ul class="socials-menu">
        <li class="links-item">
          <a class="footer-links" href="">About us</a>
        </li>
        <li class="links-item">
          <a class="footer-links" href="">Our courses</a>
        </li>
        <li class="links-item">
          <a class="footer-links" href="">Our mentors</a>
        </li>
        <li class="links-item">
          <a class="footer-links">Reviews</a>
        </li>
        <li class="links-item">
          <a class="footer-links">contacts</a>
        </li>
      </ul>
    </div>
    <!---Subscribe button-->
    <div class="form-div">
        <form class="subscribe-form">
            <label class="subscribe-label">
              <input
                class="subscribe-input"
                type="email"
                name="e-mail"
                placeholder="Enter your email"
              />
            </label>
            <button class="subscribe-btn" type="submit">Go</button>
    </div>
    <!---Privacy Rights-->
    <div class="privacy-rights">
      <div class="privacy-div">
        <p class="privacy-style">Privacy Policy 
            Public Offering Agreement</p>
          </div>
            <div class="rights-div">
            <p class="rights-style">2023 Focus Frame
                © All rights reserved</p>
              </div>
    </div>
  </div>
</footer>

</body>
</html>
