<!-- Розмітка хедера -->
<header
  class="header"
  data-aos="fade-down"
  data-aos-delay="50"
  data-aos-offset="200"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out"
  data-aos-once="true"
>
  <div class="container header-container">
    <div class="logo-links">
      <!-- logo -->
      <a
        class="link-logo"
        href="./index.html"
        aria-label="Come back on home page"
      >
        <svg class="logo" width="127" height="20">
          <use href="./img/icons.svg#icon-logo" width="123" height="16"></use>
        </svg>
      </a>
      <!-- nav-links -->
      <nav class="menu-nav">
        <ul class="list-links">
          <li><a class="links" href="#about-us-section">About us</a></li>
          <li><a class="links" href="#our-courses-section">Our courses</a></li>
          <li><a class="links" href="#mentors-section">Our mentors</a></li>
          <li><a class="links" href="#reviews-section">Reviews</a></li>
          <li><a class="links" href="#contacts-section">contacts</a></li>
        </ul>
      </nav>
      <!-- camera button -->
      <a class="link-camera-btn" href="#sign-up-section" aria-label="Sign up">
        <svg class="camera-icon" width="16" height="16">
          <use href="./img/icons.svg#icon-camera"></use>
        </svg>
      </a>
      <!-- burger button -->
      <button class="burger-btn" type="button" aria-label="Open menu button">
        <svg class="burger-icon" width="40" height="28">
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>

    <!-- button Sing up -->

    <a class="link-button" href="#sign-up-section">Sign up</a>
  </div>
</header>
