<!-- Розмітка хедера -->
<header class="header">
  <div class="container header-container">
    <div class="logo-links">
      <!-- logo -->
      <a class="link-logo" href="./index.html">
        <svg class="logo" width="127" height="20">
          <use href="./img/icons.svg#icon-logo" width="123" height="16"></use>
        </svg>
      </a>
      <!-- nav-links -->
      <nav class="menu-nav">
        <ul class="list-links">
          <li><a class="links" href="#about-us">About us</a></li>
          <li><a class="links" href="#our-courses">Our courses</a></li>
          <li><a class="links" href="#our-mentors">Our mentors</a></li>
          <li><a class="links" href="#reviews-section">Reviews</a></li>
          <li><a class="links" href="#contacts">contacts</a></li>
        </ul>
      </nav>
      <!-- camera button -->
      <a class="link-camera-btn" href="#sing-up">
        <svg class="camera-icon" width="16" height="16">
          <use href="./img/icons.svg#icon-camera"></use>
        </svg>
      </a>
      <!-- burger button -->
      <button class="burger-btn" type="button" aria-label="Open menu button">
        <svg class="burger-icon" width="40" height="28">
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>

    <!-- button Sing up -->
    <div class="button-header">
      <a class="link-button" href="#sing_up">Sing up</a>
    </div>
  </div>
</header>
