<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <div>
        <h1
          data-aos="fade-right"
          data-aos-delay="50"
          data-aos-offset="200"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-once="true"
          class="hero-title"
        >
          Discover the magic of
          <span class="title-span">photography&nbsp;</span> in our school
        </h1>
        <p
          data-aos="fade-right"
          data-aos-delay="150"
          data-aos-offset="200"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-once="true"
          class="hero-text"
        >
          Our photography school offers an unforgettable journey, where you can
          learn the basics of composition, master technical skills, translate
          your unique ideas.
        </p>

        <div
          data-aos="zoom-in"
          data-aos-delay="50"
          data-aos-offset="0"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-once="true"
          class="reviews-box"
        >
          <div class="students">
            <ul class="avatars">
              <li class="item item-1">
                <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/hero_img1_tab@1x.png 1x,
                      ./img/hero_img1_tab@2x.png 2x
                    " />
                  <img
                    srcset="
                      ./img/hero_img1@1x.png 1x,
                      ./img/hero_img1@2x.png 2x
                    "
                    src="./img/hero_img1@1x.png"
                    alt="Caitlyn King avatar"
                /></picture>
              </li>
              <li class="item item-2">
                <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/hero_img2_tab@1x.png 1x,
                      ./img/hero_img2_tab@2x.png 2x
                    " />
                  <img
                    srcset="
                      ./img/hero_img2@1x.png 1x,
                      ./img/hero_img2@2x.png 2x
                    "
                    src="./img/hero_img1@1x.png"
                    alt="Caitlyn King avatar"
                /></picture>
              </li>
              <li class="item item-3">
                <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/hero_img3_tab@1x.png 1x,
                      ./img/hero_img3_tab@2x.png 2x
                    " />
                  <img
                    srcset="
                      ./img/hero_img3@1x.png 1x,
                      ./img/hero_img3@2x.png 2x
                    "
                    src="./img/hero_img1@1x.png"
                    alt="Caitlyn King avatar"
                /></picture>
              </li>
            </ul>
            <a href="#" class="hero-link"
              ><span
                >Our happy <br />
                students
              </span>
              <svg class="icon-arrow" width="18" height="9">
                <use href="./img/icons.svg#icon-arrow-right"></use>
              </svg>
            </a>
          </div>
          <div class="reviews">
            <div class="icon-wrapper">
              <svg class="icon-star" width="20" height="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </div>
            <div class="reviews-count">
              <p>Reviews</p>
              <p>+1500</p>
            </div>
          </div>
        </div>
      </div>
      <picture class="picture">
        <source
          media="(min-width: 1280px)"
          srcset="./img/hero_des@1x.png 1x, ./img/hero_des@2x.png 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/hero_tab@1x.png 1x, ./img/hero_tab@2x.png 2x"
        />

        <img
          data-aos="fade-up"
          data-aos-delay="50"
          data-aos-offset="0"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-once="true"
          class="hero-img"
          srcset="./img/hero_mob@1x.png 1x, ./img/hero_mob@2x.png 2x"
          alt="Photo of photographer"
        />
      </picture>
    </div>
  </div>
</section>
