<section class="mentors" id="mentors-section">
  <div class="container container-mentors">
    <h2 class="header-mentors">Our <span class="title-span">Mentors</span></h2>
    <ul class="ul-mentors" data-aos="fade-up" data-aos-delay="50" data-aos-offset="200" data-aos-duration="1000"
      data-aos-easing="ease-in-out" data-aos-once="true">
      <li class="li-mentors">
        <img srcset="./img/mentors_img1@1x.png 1x, ./img/mentors_img1@2x.png 2x" src="./img/mentors_img1@1x.png"
          alt="photo Emilia Smith" width="180" height="180" loading="lazy" />
        <div class="div-mentors">
          <h3 class="name-mentors">Emilia Smith</h3>
          <p class="experience-mentors">1.5 years of experience</p>
        </div>
      </li>

      <li class="li-mentors">
        <img srcset="./img/mentors_img2@1x.png 1x, ./img/mentors_img2@2x.png 2x" src="./img/mentors_img2@1x.png"
          alt="photo of Alex Lebedev" width="180" height="180" loading="lazy" />
        <div class="div-mentors">
          <h3 class="name-mentors">Alex Lebedev</h3>
          <p class="experience-mentors">3.5 years of experience</p>
        </div>
      </li>
      <li class="li-mentors">
        <img srcset="./img/mentors_img3@1x.png 1x, ./img/mentors_img3@2x.png 2x" src="./img/mentors_img3@1x.png"
          alt="photo of Mia Dubrovska" width="180" height="180" loading="lazy" />
        <div class="div-mentors">
          <h3 class="name-mentors">Mia Dubrovska</h3>
          <p class="experience-mentors">2.0 years of experience</p>
        </div>
      </li>

      <li class="li-mentors">
        <img class="img-mentors" srcset="./img/mentors_img4@1x.png 1x, ./img/mentors_img4@2x.png 2x"
          src="./img/mentors_img4@1x.png" alt="photo of Eliot Kovalev" width="180" height="180" loading="lazy" />
        <div class="div-mentors">
          <h3 class="name-mentors">Eliot Kovalev</h3>
          <p class="experience-mentors">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>