<div class="overlay is-hidden">
  <div class="mobile-menu">
    <button class="mm-close-btn" type="button" aria-label="Close menu">
      <svg class="close-icon" width="32" height="32">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="mm-list">
      <li class="mm-item">
        <a class="mm-item-link is-active" href="#about-us-section">About us</a>
      </li>
      <li class="mm-item">
        <a class="mm-item-link" href="#our-courses-section">Our courses</a>
      </li>
      <li class="mm-item">
        <a class="mm-item-link" href="#mentors-section">Our mentors</a>
      </li>
      <li class="mm-item">
        <a class="mm-item-link" href="#reviews-section">Reviews</a>
      </li>
      <li class="mm-item">
        <a class="mm-item-link" href="#contacts-section">Contacts</a>
      </li>
    </ul>

    <div class="mm-bottom">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/menu_photo_tab@1x.jpg 1x,
            ./img/menu_photo_tab@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/menu_photo_mob@1x.png 1x,
            ./img/menu_photo_mob@2x.png 2x
          "
        />
        <img src="./img/menu_photo_mob@1x.png" alt="Camera" class="camera" />
      </picture>
    </div>
  </div>
</div>
