<section id="reviews-section">
  <div class="container">
    <h2 class="reviews">Reviews</h2>

    <div class="review-card">
      <div class="review-card-person">
        <img
          class="review-image"
          src="./img/user_img1@1x.png"
          alt="man with glasses"
          width="56"
        />

        <div class="review-card-name">
          <h3 class="person-name">Abraham Baker</h3>
          <p class="person-occupancy">Student</p>
        </div>
      </div>

      <ul class="stars-list">
        <li class="star-item">
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
        </li>
        <li class="star-item">
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
        </li>
        <li class="star-item">
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
        </li>
        <li class="star-item">
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
        </li>
        <li class="star-item">
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
        </li>
      </ul>

      <p class="review-text">
        I am very pleased that I decided to enroll in photography school. The
        teachers turned out to be very talented and experienced professionals
        who share their knowledge and are dedicated to their work. I was able to
        expand my skills and discover my own style.
      </p>
    </div>
  </div>
</section>
