<section class="sign-up-section" id="sign-up-section">
  <div class="container sign-up-container">
    <!-- LEFT-SIDE -->
    <div class="sign-up-left-side">
      <h2 class="sign-up">Sign <span class="title-span">Up</span></h2>
      <p class="sign-up-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>

      <form class="sign-up-form">
        <div class="sign-up-entry-field">
          <input
            class="sign-up-input"
            name="user-name"
            id="user-name"
            type="text"
            placeholder="Enter your name"
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            required
          />
        </div>

        <div class="sign-up-entry-field">
          <input
            class="sign-up-input"
            name="user-email"
            id="user-email"
            type="email"
            placeholder="Enter your email"
            pattern="[a-zA-Z0-9._%±]+@ [a-zA-Z0-9.-]+\. [a-zA-Z0-9_-]+"
            required
          />
        </div>
        <div class="sign-up-entry-field">
          <textarea
            class="sign-up-input sign-up-textarea"
            name="user-message"
            id="user-message"
            placeholder="Message"
          ></textarea>
        </div>
        <button class="sign-up-btn" type="submit">Send</button>
        <p class="sign-up-text-down">
          By clicking on “Send” button, you agree to our
          <a class="sign-up-privacy" href="">Privacy Policy</a>,<br />
          and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
    <!-- RIGHT-SIDE -->

    <div class="sign-up-right-side">
      <div class="sign-up-wrapper">
        <div
          class="sign-up-img-left-box"
          data-aos="zoom-in-right"
          data-aos-delay="50"
          data-aos-offset="200"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-once="true"
        >
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/isabella_mendes@1x.webp 1x,
                ./img/isabella_mendes@2x.webp 2x
              "
              type="image/webp"
            />

            <img
              src="./img/isabella_mendes@1x.webp"
              class="sign-up-img-left"
              srcset="
                ./img/isabella_mendes@1x.webp 1x,
                ./img/isabella_mendes@2x.webp 2x
              "
              loading="lazy"
              alt="Camera"
            />
          </picture>
        </div>
      </div>

      <div class="sign-up-wrapper">
        <div
          class="sign-up-img-right-box"
          data-aos="zoom-in-left"
          data-aos-delay="50"
          data-aos-offset="200"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-once="true"
        >
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/video_entry@1x.webp 1x,
                ./img/video_entry@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/video_entry@1x.webp 1x,
                ./img/video_entry@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              class="sign-up-img-right"
              src="./img/video_entry@1x.webp"
              alt="Camera"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
