.about-us {
   max-width: 335px;
   margin: 0 auto;
   padding: 0 0 80px;
}

@media only screen and (min-width: 768px) {
  .about-us {
    max-width: 704px;
    padding: 0 0 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .about-us {
    max-width: 1080px;
    padding: 0 0 150px;
  }
}

@media only screen and (min-width: 1440px) {
 .about-us {
    max-width: 1240px;
  }
}

.about-header {
    font-family: DM Sans;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14em;
    letter-spacing: -1.12px;
    margin-bottom: 40px;
}
.about-span {
color: #BEA69E;
}

@media only screen and (min-width: 768px) {
  .about-header {
    font-size: 48px;
    line-height: 1.12em;
    letter-spacing: -1.92px;
    margin-bottom: 50px;
  }
}

.about-photo {
    margin-bottom: 40px;
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
.about-photo {
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1280px) {
.about-photo {
    margin: 0;
    /*width: 488px;
    height: 260px;*/
  }
}
.about-p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.about-text {
 font-weight: 400;
 font-size: 14px;
 line-height: 1.28em;
 letter-spacing: -0.28px;
 width: 100%;
}

@media only screen and (min-width: 768px) {
  .about-text {
    font-size: 16px;
    line-height: 1.25em;
    letter-spacing: -0.32px;
  }
}

@media only screen and (min-width: 768px) {
  .about-p {
    gap: 40px;
    padding-right: 104px;
  }
  .about-text {
    width: calc((100% - 40px) / 2);
  }
}

@media only screen and (min-width: 1280px) {
  .about-p {
    gap: 20px;
    padding: 0;
  }
   .about-text {
       width: calc((100% - 20px) / 2);
   }
}

@media only screen and (min-width: 1280px) {
    .about-desk {
    display: flex;
    gap: 40px;
  }
}
 