.hero {
  padding-top: 20px;
}

.hero-wrapper {
  background-color: #1d1d1d;
  border-radius: 30px;

  padding: 40px 20px 0;
}

@media screen and (min-width: 768px) {
  .hero-wrapper {
    padding: 64px 32px 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero-wrapper {
    display: flex;

    justify-content: space-between;
    padding: 80px 50px 0;
  }
}

@media screen and (min-width: 1440px) {
  .hero-wrapper {
    display: flex;

    justify-content: flex-start;
    gap: 130px;
    padding: 80px 50px 0;
  }
}

.hero-title {
  margin-bottom: 20px;

  font-size: 40px;

  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.6px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 507px;
    font-size: 60px;

    line-height: 1.06;
    letter-spacing: -2.4px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 541px;
    font-size: 64px;

    letter-spacing: -2.56px;
  }
}

.hero-title .accent {
  color: #bea69e;
  font-style: italic;
}

.hero-text {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .hero-text {
    max-width: 418px;
  }
}

.hero .reviews-box {
  display: flex;
  justify-content: space-between;
  max-width: 253px;
}

@media screen and (min-width: 375px) {
  .hero .reviews-box {
    gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .hero .reviews-box {
    max-width: 390px;
    line-height: 1.25;
    font-size: 16px;
    letter-spacing: -0.64px;
  }
}

@media screen and (min-width: 1280px) {
  .hero .reviews-box {
    margin-top: 136px;
  }
}

.hero .students {
  flex-basis: 109px;
}

@media screen and (min-width: 768px) {
  .hero .students {
    flex-basis: 231px;
    display: flex;
    gap: 12px;
  }
}

.avatars {
  min-width: 137px;
  height: 44px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .avatars {
    height: 54px;
  }
}

.avatars .item {
  width: 44px;
  height: 100%;

  position: absolute;
}

@media screen and (min-width: 768px) {
  .avatars .item {
    width: 54px;
  }
}

.avatars .item-1 {
  z-index: 4;
}

.avatars .item-2 {
  left: 32px;
  z-index: 3;
}

.avatars .item-3 {
  left: 64px;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .avatars .item-2 {
    left: 40px;
  }

  .avatars .item-3 {
    left: 83px;
  }
}

.avatars img {
  display: block;
  min-width: 100%;
  min-height: 100%;

  border-radius: 100px;
}

.hero-link {
  display: flex;
  align-items: center;

  margin-top: 4px;
  gap: 4px;
  letter-spacing: -0.56px;
}

@media screen and (min-width: 768px) {
  .hero-link {
    flex-wrap: wrap;

    font-size: 16px;
    letter-spacing: -0.64px;
  }
}

.hero-link .icon-arrow {
  fill: currentColor;
}

.hero .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bea69e;
  width: 44px;
  height: 44px;
  border-radius: 100%;
}

@media screen and (min-width: 768px) {
  .hero .icon-wrapper {
    width: 50px;
    height: 50px;
  }
}

.reviews {
  align-self: baseline;

  display: flex;
  align-items: center;
  gap: 12px;
}

.hero .icon-star {
  fill: transparent;
}

.hero p:first-child {
  margin-bottom: 4px;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 768px) {
  .hero p:first-child {
    margin-bottom: 8px;
  }
}

.hero p:last-child {
  font-weight: 500;
}

.hero .picture {
  margin-top: 31px;
  display: block;
  text-align: center;
}

.hero-img {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .hero .picture {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .hero .picture {
    margin: 0;
  }
}
